@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #c7d2fe; /* Tailwind indigo-200 */
        border-radius: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #a5b4fc; /* Tailwind indigo-300 */
    }
}